@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mplus 1p", sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header .header-main-block .header-main-navigation {
  background-color: #deefcf;
}

header .header-main-block .header-logo-main {
  background-color: #2c2d41;
}

header .header-main-block .title-logo {
  letter-spacing: 4px;
}

/* decoration css */
#decoration-stick {
  height: 45px;
  display: inline-block;
  width: 4px;
  background: #7a7f9f;
  border-radius: 3px;
}

#decoration-arrow-down {
  border: solid #cccccc;
  border-width: 0 3px 3px 0;
  padding: 3px;
  float: right;
  transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Main */
main .d-flex .container-link-list .container-navigation .list-group .list-group-item {
  background: #2c2d41;
}

main .d-flex .container-link-list .container-navigation .list-group .list-group-item:hover {
  background: #7c7b8b;
  cursor: pointer;
}


main .d-flex .container-information {
  background: #9b99e4;
}

#show-all-exercises {
  font-size: 16px;
}


main .d-flex .container-information .card-information {
  background: #e78136;
}


main .d-flex .container-information .card-unchecked,
main .d-flex .container-information .popular-courses,
main .d-flex .container-information .card-shedule {
  background: #85bb59;
}

main .d-flex .container-information .card-unchecked table,
main .d-flex .container-information .popular-courses table,
main .d-flex .container-information .card-shedule table {
  font-size: 16px;
  background: #81ac77;
}


main .d-flex .container-information .card-unchecked table th,
main .d-flex .container-information .card-shedule table th {
  font-size: 18px;
}

